body {
  background-color: #FFFFFF;
  text-align: center;
}

.results {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 90vw;
}

.result {
  width: 16vw;
}
