body {
  text-align: center;
  margin: auto 0;
  background-color: #060912;
  background-image: url("https://www.transparenttextures.com/patterns/3px-tile.png");
  font-family: 'Saira', sans-serif;
  color: #c7c7c7;
}

.container {
  margin-right: 5vw;
  margin-left: 5vw;
}

h1 {
  font-size: 5vw;
}

.now-playing {
  text-align: left;
  margin-left: 5vw;
  font-size: 2vw;
  margin-top: 3vh;
}

audio {
}


hr, .music-player, .results, .search{
 width: 80vw;
}

hr {
  margin-top: 3vh;
  margin-bottom: 3vh;
}

.search {
  margin-left: 5vw;

}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.input {
  width: 70vw;
  height: 4vh;
  font-size: 2vh;
}

.button {
  width: 9vw;
  font-size: 2vh;
}

.results {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 5vw;
}

.result {
  width: 14vw;
}

p {
  margin: 0;
}
